.toolbar {
  background: var(--toolbar-color);
  height: var(--toolbar-height);
  line-height: var(--toolbar-height);
  border-bottom: 1px solid rgba(14, 19, 24, .15);
  border-top: 1px solid rgba(14, 19, 24, .15);
}
