.header {
  height: var(--header-height);
  background: var(--header-bg);
  color: var(--white);
}

.editor {
  height: calc(100vh - var(--header-height));
  background: var(--editor-bg);
}

.sidebar {
  background: var(--sidebar-bg);
}

.canvasContainer {
  height: calc(100vh - var(--toolbar-height));
  overflow: scroll;
}
