:root {
    --header-height: 30px;
    --toolbar-height: 40px;

    --header-bg: gray;
    --sidebar-bg: #2e3246;
    --editor-bg: #d5e1e3;
    --toolbar-color: #fff;
    --greenish-blue: #55efc4;
    --greenish-blue-3: rgba(85, 239, 196, 0.3);
}


*:focus {
    outline: none;
}

body {
    overflow: hidden;
}
