:root {
    --header-height: 30px;

    --lighter-dark: #363f4e;
    --light-dark: #272f39;
    --dark: #1d2329;
    --greenish-blue: #55efc4;
    --greenish-blue-7: rgba(85, 239, 196, 0.7);
}

*:focus {
    outline: none;
}
